*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #000;

  min-width: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
